= title t('tt.show', resource_name: Category.model_name.human)

- content_for :toolbar_left do
  = link_to(contributors_application_categories_path(@application) , class: 'btn', rel: 'tooltip', title: t('tooltips.back')) do
    %i.icon-arrow-left

= show_for @category do |s|
  = s.attribute :name
  = s.attribute :icon_name
