= title @article.name.camelize
%ul.breadcrumb
  = '<li>'.html_safe
  = render_breadcrumbs :separator => '<span class="divider">/</span></li><li>'.html_safe
  = '</li>'.html_safe
.row-fluid
  .span3
    %ul.nav.nav-tabs.nav-stacked
      = render @current_application.categories
      %p
      = render :partial => 'partials/social'
  .span9
    = @article.body
