!!!
%html{:lang => "en"}
  %head
    = render :partial => 'partials/head'
  %body
    / Header
    %header.navbar.navbar-fixed-top
      = render :partial => 'layouts/contributors/nav'
    / Messages
    = render :partial => 'partials/messages'
    / Contents
    .container
      .wrapper.row-fluid
        .span12.wrap
          .head
            .span2.pull-left
              = yield :toolbar_left
            .span8.title
              %h2= yield :title
            .span1.pull-right
              = yield :toolbar_right
            .clearfix
          = yield
    / Footer
    %footer
      = render :partial => 'partials/footer'

