= simple_form_for([:contributors, @application, @video]) do |f|
  = f.error_notification

  .form-inputs
    = f.association :categories, :prompt => "Kategori Seçiniz"
    = f.input :name
    = f.input :provider

  .form-actions
    = f.button :submit
