= simple_form_for([:contributors, @application, @video], :defaults => {:input_html => {:class => 'span6', :rows => 3}}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :youtube_id
    = f.input :width, :input_html => { :value => 800 }
    = f.input :height, :input_html => { :value => 500 }
    = f.association :categories, :collection => @application.categories.all, :as => :check_boxes, :input_html => {:class => ''}
    = f.input :status, :inline_label => t('post'), :input_html => {:class => ''}


  .form-actions
    = f.button :submit
