= title t('tt.show', resource_name: Video.model_name.human)

- content_for :toolbar_left do
  = link_to(contributors_application_videos_path , class: 'btn', rel: 'tooltip', title: t('tooltips.back')) do
    %i.icon-arrow-left
  = link_to(edit_contributors_application_video_path(@application, @video) , class: 'btn', rel: 'tooltip', title: t('tooltips.edit')) do
    %i.icon-pencil
  = link_to(contributors_application_video_path(@application, @video), class: 'btn', confirm: t('confirm'), method: :delete, rel: 'tooltip', title: t('tooltips.delete')) do
    %i.icon-trash

= show_for @video do |s|
  = s.attribute :name
  = s.attribute :status
  = s.attribute :provider
