-#%form{:action => "#{administrator_contributors_application_path(@application)}", :method => "post"}
-#  %input{:name => "email"}
-#  %input{:name => "commit", :type => "submit", :value => "Kaydet"}
= simple_form_for([:admins, @application]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :contributors, :value => ""

    = f.button :submit, :value => "Kaydet"