= title("Arama '#{params['search']}' arama sonuçları")

= content_for :toolbar_right do
  %span.badge.badge-inverse= @search_articles.count + @search_videos.count
  sonuç bulundu

.row-fluid
  .span3
    %ul.nav.nav-tabs.nav-stacked
      = render @current_application.categories
      %p
      = render :partial => 'partials/social'
  .span9
    = render :partial => 'partials/search'

    %h1 Bulunan Makaleler
    - if @search_articles.count > 0
      .row-fluid
      - @search_articles.each do |article|
        %p
          %h4
            = link_to(article_path(article)) do
              = article.name
      %hr/
      = will_paginate @search_articles, :param_name => 'article_page'

    - else
      %p Makale Bulunamadı

    %h1 Bulunan Videolar
    - if @search_videos.count > 0
      .row-fluid
      - @search_videos.each do |video|
        %p
          %h4
            = link_to(video_path(video)) do
              = video.name
      %hr/
      = will_paginate @search_videos, :param_name => 'video_page'

    - else
      %p Video Bulunamadı
