= title('Arama')

.row-fluid
  .span3
    %ul.nav.nav-tabs.nav-stacked
      = render @current_application.categories
  .span9
    = render :partial => 'partials/search'

    - if @search_articles.count > 0
      %h1 Bulunan Makaleler
      .row-fluid
      - @search_articles.each do |article|
        %p
          %h4
            = link_to(article_path(article)) do
              = article.name.camelize
    - else
      %p Makale Bulunamadı
      %p
      %p
    - if @search_videos.count > 0
      %h1 Bulunan Videolar
      .row-fluid
      - @search_videos.each do |video|
        %p
          %h4
            = link_to(video_path(video)) do
              = video.name.camelize
    - else
      %p Video Bulunamadı
