.container-fluid
  .row-fluid
    .span12
      .hero-unit.text-center
        %h1.bigger.black AntDesk
        %h2.larger
          = t('what_is_this')
        %hr/
        = image_tag "antdesk-icons.png"
        %hr/
        %p
          %a.btn.btn-info.btn-large{:href =>"#{new_contributor_registration_path}"}
            %i.icon-white.icon-plus
            = t('start_now')
          %a.btn.btn-success.btn-large{:href =>"#{new_contributor_registration_path}"}
            %i.icon-white.icon-user
            = t('sign_in_now')
