- if params[:search]
  = render 'search'
- elsif !@current_application
  = render 'support'
- else

  = title(@current_application.name)
  .row-fluid
    .span3
      %ul.nav.nav-tabs.nav-stacked
        = render @current_application.categories
        %p
        = render :partial => 'partials/social'


    .span9
      = render :partial => 'partials/search'

      = render 'articles'
      = render 'videos'

