- if params[:search]
  = render 'search'
- elsif !@current_application
  = render 'support'
- else

  = title(@current_application.name.camelize)
  .row-fluid
    .span4
      = render 'categories'

    .span8
      %form.form-inline{:action => "#{pages_path}", :method => "get"}
        %input.input-xxlarge{:style => "height: 30px; width: 675px;", :name => "search", :type => "text", :placeholder => "Bir sorunuz mu var? Aramaya buradan başlayın."}
          %input.btn.btn-large.btn-primary{:type => "submit", :value => "Ara"}

      = render 'articles'
      = render 'videos'

    .fb-like-box{"data-border-color" => "#ddd", "data-header" => "false", "data-href" => "http://www.facebook.com/#{@current_application.facebook_page}", "data-show-faces" => "true", "data-stream" => "false", "data-width" => "357"}

  %hr
    %footer
      %p
      ©
      = @current_application.name.camelize
      2012
