!!!
%html{:lang => "en"}
  %head
    = render :partial => 'partials/head'
  %body
    / Header
    %header.navbar.navbar-fixed-top
      = render :partial => 'layouts/admins/nav'
    / Messages
    = render :partial => 'partials/messages'
    / Contents
    .container
      = render :partial => 'partials/contents'
    / Footer
    %footer
      = render :partial => 'partials/footer'

