= title t('tt.index', resource_name: Application.model_name.human)

%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th
      = t('activerecord.attributes.application.logo')
    %th
      = t('activerecord.attributes.application.name')
    %th
      = t('activerecord.attributes.application.cname_domain')
    %th
      = t('activerecord.attributes.application.subdomain')
    %th{:width => "35px"}
  - @applications.each do |application|
    %tr
      %td
        .thumbnail
          = image_tag application.logo.url(:small)
      %td= application.name
      %td= application.cname_domain
      %td= application.subdomain
      %td
        = link_to(contributors_application_path(application), class: 'btn', rel: 'tooltip', title: t('tooltips.show')) do
          %i.icon-eye-open
%hr/
= will_paginate @applications