

= title t('tt.index', resource_name: Application.model_name.human)

- content_for :toolbar_left do
  = link_to(new_admins_application_path, class: 'btn', rel: 'tooltip', title: t('tooltips.new')) do
    %i.icon-plus

%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Uygulama Adresi
    %th Uygulama Ad覺
    %th Twitter Kullan覺c覺 Ad覺
    %th Facebook Sayfa Adresi
    %th{:width => "120px"}
  - @applications.each do |application|
    %tr
      %td= application.cname_domain
      %td= application.name
      %td= application.twitter_username
      %td= application.facebook_page
      %td
        = link_to(contributors_application_path(application), class: 'btn', rel: 'tooltip', title: t('tooltips.show')) do
          %i.icon-eye-open