= title t(@category.name.camelize)
%ul.breadcrumb
  = '<li>'.html_safe
  = render_breadcrumbs :separator => '<span class="divider">/</span></li><li>'.html_safe
  = '</li>'.html_safe


.row-fluid
  .span4
    = render 'categories'
  .span8
    %form.form-inline{:action => "#{pages_path}", :method => "get"}
      %input.input-xxlarge{:style => "height: 30px; width: 675px;", :name => "search", :type => "text", :placeholder => "Bir sorunuz mu var? Aramaya buradan başlayın."}
        %input.btn.btn-large.btn-primary{:type => "submit", :value => "Ara"}
    %h1 Kategoriye Ait Makaleler
    .row-fluid
    - @current_application.categories.find(@category).articles.uniq.each do |article|
      %p
        %h4
          = link_to(article_path(article)) do
            = article.name.camelize
    %h1 Kategoriye Ait Videolar
    .row-fluid
    - @current_application.categories.find(@category).videos.uniq.each do |video|
      %p
        %h4
          = link_to(video_path(video)) do
            = video.name.camelize
