= title t(@category.name.camelize)
%ul.breadcrumb
  = '<li>'.html_safe
  = render_breadcrumbs :separator => '<span class="divider">/</span></li><li>'.html_safe
  = '</li>'.html_safe


.row-fluid
  .span3
    %ul.nav.nav-tabs.nav-stacked
      = render @current_application.categories
      %p
      = render :partial => 'partials/social'
  .span9
    - if @current_application.categories.find(@category).articles.count > 0
      %h1 Kategoriye Ait Makaleler
      .row-fluid
      - @current_application.categories.find(@category).articles.active.uniq.each do |article|
        %p
          %h4
            = link_to(article_path(article)) do
              = article.name.camelize
    - else
      %p Kategoriye Ait Makale Bulunamadı
      %p
      %p

    - if @current_application.categories.find(@category).videos.count > 0
      %h1 Kategoriye Ait Videolar
      .row-fluid
      - @current_application.categories.find(@category).videos.active.uniq.each do |video|
        %p
          %h4
            = link_to(video_path(video)) do
              = video.name.camelize
    - else
      %p Kategoriye Ait Video Bulunamadı
      %p
      %p
