= title t(@category.name.camelize)
%ul.breadcrumb
  = '<li>'.html_safe
  = render_breadcrumbs :separator => '<span class="divider">/</span></li><li>'.html_safe
  = '</li>'.html_safe


.row-fluid
  .span3
    %ul.nav.nav-tabs.nav-stacked
      = render @current_application.categories
      %p
      = render :partial => 'partials/social'
  .span9
    %h3 Kategoriye Ait Makaleler
    - if @category_articles.count > 0

      .row-fluid
      - @category_articles.each do |article|
        %p
          %h4
            = link_to(article_path(article)) do
              = article.name.camelize
      %hr/
      = will_paginate @category_articles, :param_name => 'article_page'
    - else
      %p Kategoriye Ait Makale Bulunamadı
      %p
      %p

    %h3 Kategoriye Ait Videolar
    - if @category_videos.count > 0

      .row-fluid
      - @category_videos.each do |video|
        %p
          %h4
            = link_to(video_path(video)) do
              = video.name.camelize
      %hr/
      = will_paginate @category_videos, :param_name => 'video_page'
    - else
      %p Kategoriye Ait Video Bulunamadı
      %p
      %p
