= title t('tt.index', resource_name: Application.model_name.human)

- content_for :toolbar_left do
  = link_to(new_admins_application_path, class: 'btn', rel: 'tooltip', title: t('tooltips.new')) do
    %i.icon-plus
- content_for :toolbar_right do
  = link_to(admins_contributors_path, class: 'btn', rel: 'tooltip', title: t('contributors')) do
    %i.icon-eye-open
    =t('contributors')

%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Logo
    %th Katkıcılar
    %th Uygulama Adresi
    %th Uygulama Adı
    %th{:width => "120px"}
  - @applications.each do |application|
    %tr
      %td
        .thumbnail
          = image_tag application.logo.url(:small)
      %td
        - application.contributors.each do |contributor|
          %span.label= "#{contributor.name.camelize}"
      %td= application.cname_domain
      %td= application.name
      %td
        = link_to(admins_application_path(application), class: 'btn', rel: 'tooltip', title: t('tooltips.show')) do
          %i.icon-eye-open
        = link_to(edit_admins_application_path(application) , class: 'btn', rel: 'tooltip', title: t('tooltips.edit')) do
          %i.icon-pencil
        = link_to(admins_application_path(application), class: 'btn', confirm: t('confirm'), method: :delete, rel: 'tooltip', title: t('tooltips.delete')) do
          %i.icon-trash
%hr/
= will_paginate @applications